<div class="content-body">
    <div class="filter-box">
        <ul>
            <li>
                <i class="material-icons">list</i>
                Saved Lists
            </li>
            <li>
                <i class="material-icons">filter</i>
                Saved Filter
            </li>
            <li>
                <i class="material-icons">history</i>
                Search History
            </li>
        </ul>
        <div class="search-box">
            <input type="search" [(ngModel)]="searchRows" placeholder="search ....">
        </div>
    </div>
    <div class="table-box">
        <table class="">
            <thead class="">
            <tr>
                <th>Date</th>
                <th>List Name</th>
                <th>No. of Entiities</th>
                <th>Actions</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of rows | filter:searchRows">
                <td>{{row['date'] | date}}</td>
                <td>{{row['list_name']}}</td>
                <td>{{row['no_of_enties']}}</td>
                <td class="shared-actions">
                    <i class="material-icons">email</i>
                    <i class="material-icons" *ngIf="row['no_of_enties'] > 0">share</i>
                    <i class="material-icons" *ngIf="row['no_of_enties'] > 0">edit</i>
                    <i class="material-icons" *ngIf="row['no_of_enties'] > 0">delete</i>
                </td>
                <td>
                    <button class="mat-button" type="button" (click)="view(row['details'])">Details</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="entity_details">
        <p class="nod-desc">
            No description yet <a href="#">+ Add Description</a>
        </p>
        <p class="data_holder" *ngFor="let detail of detilsArray; let i = index" [attr.id]="detail['id']">
            {{detail['description']}}
        </p>
    </div>
</div>
